<nav class="navbar bg-light  p-0" *ngIf="!login">
  <div class="container-fluid flex-md-row flex-sm-row flex-column p-0 pt-2">
    <div class="ms-3" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
      </svg>
    </div>
    <div [ngSwitch]="titulo">
      <a *ngSwitchDefault class="navbar-brand flex-shrink-1">Estatísticas e Informações</a>
      <a *ngSwitchCase="'cadastroPaciente'" class="navbar-brand flex-shrink-1">Cadastro Paciente</a>
      <a *ngSwitchCase="'cadastroMedicamento'" class="navbar-brand flex-shrink-1">Cadastro de Medicamento</a>
    </div>
    <div class="d-flex  me-4" role="search">
      <div class="me-4">
        <h5>{{ usuarioLogado.email}}</h5>
      </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-circle"
          viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
          <path fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
        </svg>

    </div>
  </div>
</nav>
