<div class="container w-50 mt-5 m-auto">
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <div class="form-floating mb-3 ">
      <input type="email" name="email" class="form-control"
        [ngClass]="{'is-invalid':!loginFormModel.email.length && loginForm.submitted}"
        [(ngModel)]="loginFormModel.email" id="email" placeholder="Email">
      <label for="email">Email</label>
      <div *ngIf="loginForm.submitted" class="text-danger">
        <p class="mb-0" *ngIf="!loginFormModel.email.length">Email não pode ser vazio</p>
        <p class="mb-0" *ngIf="!verificarEmail(loginFormModel.email)">Email inválido</p>
      </div>
    </div>
    <div class="form-floating  mb-3">
      <input type="password" class="form-control" name="senha"
        [ngClass]="{'is-invalid':!loginFormModel.senha.length && loginForm.submitted}"
        [(ngModel)]="loginFormModel.senha" id="senha" placeholder="Senha">
      <label for="senha">Senha</label>
      <div *ngIf="loginForm.submitted" class="text-danger">
        <p *ngIf="!loginFormModel.senha.length" class="mb-0">senha não pode ser vazio</p>
        <p *ngIf="loginFormModel.senha.length<10" class="mb-0">Senha deve conter 10 caracteres</p>
        <p *ngIf="loginForm.submitted" class="mb-0">{{ mensagem }}</p>
      </div>
    </div>

    <div class="form-floating  mb-3 text-center">
      <button type="submit" class="btn btn-success">Entrar</button>
    </div>
    <div class="form-floating  mb-3 text-center">
      <a data-bs-toggle="modal" data-bs-target="#modalCadastro"
        class="link-primary me-4">Cadastrar</a>
      <a class="link-primary" data-bs-toggle="modal" data-bs-target="#modalSenha">Esqueceu a senha?</a>
    </div>
    <!--Modal resetar a senha-->
<div class="modal fade" id="modalSenha" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Erro</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Funcionalidade está em construção
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
     <!-- Modal cadastro usuario  -->
    <div class="modal fade" id="modalCadastro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastro usuário</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="cadastroUsuario()" #CadastroForm="ngForm">
              <div class="form-floating mb-3 ">
                <input type="email" name="emailCadastrar" class="form-control"
                  [ngClass]="{'is-invalid':!cadastroFormModel.email.length && CadastroForm.submitted}"
                  [(ngModel)]="cadastroFormModel.email" id="usuarioCadastrar" placeholder="Email">
                <label for="emailCadastrar">Email</label>
                <div *ngIf="CadastroForm.submitted" class="text-danger">
                  <p class="mb-0" *ngIf="!cadastroFormModel.email.length">Email não pode ser vazio</p>
                  <p class="mb-0" *ngIf="!verificarEmail(cadastroFormModel.email)">Email inválido</p>
                </div>
              </div>
              <div class="form-floating  mb-3">
                <input type="password" class="form-control" name="confirmarSenha"
                  [ngClass]="{'is-invalid':!cadastroFormModel.senha.length && CadastroForm.submitted}"
                  [(ngModel)]="cadastroFormModel.senha" id="confirmarSenha" placeholder="Senha">
                <label for="confirmarSenha">Senha</label>
                <div *ngIf="CadastroForm.submitted" class="text-danger">
                  <p *ngIf="!cadastroFormModel.senha.length" class="mb-0">senha não pode ser vazio</p>
                  <p *ngIf="cadastroFormModel.senha.length<10" class="mb-0">Senha deve conter 10 caracteres</p>
                </div>
              </div>
              <div class="form-floating  mb-3">
                <input type="password" class="form-control" name="senhaCadastro"
                  [ngClass]="{'is-invalid':!confirmarSenha.length && CadastroForm.submitted}"
                  [(ngModel)]="confirmarSenha" id="senhaCadastro" placeholder="Senha">
                <label for="senha">Senha</label>
                <div *ngIf="CadastroForm.submitted" class="text-danger">
                  <p *ngIf="!confirmarSenha.length && CadastroForm.submitted" class="mb-0">senha não pode ser vazio</p>
                  <p *ngIf="confirmarSenha.length<10" class="mb-0">Senha deve conter 10 caracteres</p>
                  <p *ngIf="CadastroForm.submitted" class="mb-0">{{mensagemCadastro}}</p>
                </div>
              </div>

              <div class="form-floating  mb-3 text-center">
                <button type="submit" class="btn btn-success">Cadastrar</button>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>








<!-- <div class="container w-50 mt-5 m-auto">
  <form (ngSubmit)="enviar()" [formGroup]="formulario" #formLogin="ngForm">
    <div class="form-floating mb-3 ">
      <input type="email" name="email" class="form-control" [ngClass]="{'is-invalid':email.invalid && formLogin.submitted}" formControlName="email"
        id="email" placeholder="Email">
      <label for="email">Email</label>
      <div *ngIf="email.invalid && formLogin.submitted" class="text-danger">
        <p *ngIf="email.errors?.['required']">Email não pode ser vazio</p>
        <p *ngIf="email.errors?.['email']">Email nao é valido</p>
      </div>
    </div>
    <div class="form-floating  mb-3">
      <input type="password" class="form-control" name="senha" formControlName="senha" id="senha" placeholder="Senha">
      <label for="senha">Senha</label>
      <div class="text-danger">
        <p class="mb-0">senha não pode ser vazio</p>
        <p class="mb-0"></p>
      </div>
    </div>

    <div class="form-floating  mb-3 text-center">
      <button type="submit" class="btn btn-success">Entrar</button>
    </div>
    <div class="form-floating  mb-3 text-center">
      <a data-bs-toggle="modal" data-bs-target="#modalCadastro" class="link-primary me-4">Cadastrar</a>
      <a class="link-primary" data-bs-toggle="modal" data-bs-target="#modalSenha">Esqueceu a senha?</a>
    </div>
  </form>
</div> -->
